* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
text-decoration: none;
}

li {
list-style: none;
}

/* 

special fonts

*/

@font-face {
    font-family: myFont;
    src: url("");
}

/* 

general page

*/

body {
    font-family: myFont;
}

/* 

/*

columns

*/

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/*

font sizes

*/

.fs-is-90{
    font-size: 90%;
}

.fs-is-110{
    font-size: 110%;
}

.fs-is-120{
    font-size: 120%;
}

.fs-is-130{
    font-size: 130%;
}

.fs-is-140{
    font-size: 140%;
}

.fs-is-150{
    font-size: 150%;
}

/* 

colors

*/

.c-is-white{
    color: #ffffff;
}

.c-is-black{
    color: #000000;
}

.c-is-red{
    color: #CD212A;
}

.c-is-orange{
    color: #FA7A35;
}

.c-is-yellow{
    color: #FFA500;
}

.c-is-green{
    color: #006B54;
}

.c-is-lime{
    color: #56C6A9;
}

.c-is-aqua{
    color: #16eae4;
}

.c-is-blue{
    color: #34568B;
}

.c-is-darkblue{
    color: #00758F;
}

.c-is-indigo{
    color: #7316ea;
}

.c-is-purple{
    color: #6C244C;
}

.c-is-pink{
    color: #E8A798;
}

.c-is-brown{
    color: #6A2E2A;
}

.c-is-white{
    color: #ffffff;
}

.bc-is-black{
    background-color: #000000;
}

.bc-is-red{
    background-color: #CD212A;
}

.bc-is-orange{
    background-color: #FA7A35;
}

.bc-is-yellow{
    background-color: #FFA500;
}

.bc-is-green{
    background-color: #006B54;
}

.bc-is-lime{
    background-color: #56C6A9;
}

.bc-is-blue{
    background-color: #34568B;
}

.bc-is-darkblue{
    background-color: #00758F;
}

.bc-is-indigo{
    background-color: #7316ea;
}

.bc-is-purple{
    background-color: #6C244C;
}

.bc-is-pink{
    background-color: #E8A798;
}

.bc-is-brown{
    background-color: #6A2E2A;
}
