* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
text-decoration: none;
}

li {
list-style: none;
}

/* 

special fonts

*/

@font-face {
    font-family: myFont;
    src: url("");
}

/* 

general page

*/

body {
    font-family: myFont;
}

/* 

/*

columns

*/

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/*

font sizes

*/

.fs-is-90{
    font-size: 90%;
}

.fs-is-110{
    font-size: 110%;
}

.fs-is-120{
    font-size: 120%;
}

.fs-is-130{
    font-size: 130%;
}

.fs-is-140{
    font-size: 140%;
}

.fs-is-150{
    font-size: 150%;
}

/* 

colors

*/

.c-is-white{
    color: #ffffff;
}

.c-is-black{
    color: #000000;
}

.c-is-red{
    color: #ea1616;
}

.c-is-orange{
    color: #ea6016;
}

.c-is-yellow{
    color: #eaa316;
}

.c-is-green{
    color: #26ea16;
}

.c-is-lime{
    color: #16ea76;
}

.c-is-aqua{
    color: #16eae4;
}

.c-is-blue{
    color: #1686ea;
}

.c-is-darkblue{
    color: #2016ea;
}

.c-is-indigo{
    color: #7316ea;
}

.c-is-purple{
    color: #d016ea;
}

.c-is-pink{
    color: #ea1680;
}
